/* ---------- */
/* NAVIGATION */
/* ---------- */

nav.nav-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.full-width-nav {
    background-color: #fff;
    width: 100%;
    height:inherit;
}

nav a#site-name{
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    background-color: #4baaa5;
    padding: 10px 15px 10px 15px;
}

@media (max-width: 768px) {
    .full-width-nav {
        background-color: #4baaa5;
    }

    .navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;
    }
}


/* ------ */
/* FOOTER */
/* ------ */

.bottom-footer {
  background-color: #666666;
  margin-top: 50px;
  padding: 25px 25px 25px 25px;
  border-top: solid #4baaa5 10px;
  line-height: 25px;
}
#footer-text {
  margin: 0;
  color: #fff;
}

/* ------------- */
/* BODY SECTIONS */
/* ------------- */

div .section-background-main {
  background-color: #fff;
  padding: 25px;
  margin-top: 50px;
}

div .section-background-side {
  background-color: #fff;
  padding: 25px;
  margin-top: 50px;
}


/* ---- */
/* BODY */
/* ---- */

div.summary-text {
  display: block;
}


img.main-summary {
  position: relative;
  float: left;
  margin: 0 25px 10px 0;
}

div.compare-sections{
  display: inline-block;
  padding:10px;
  float: left;
  position: relative;
  width: 50%;
}

ul.fix-overflow {
    overflow: auto;
}

div.viz-thumbs{
    display: inline-block;
    float: left;
    position: relative;
    width: 50%;
}

div#compare-three{
    padding-top: 20px;
}

div#compare-four {
    padding-top: 20px;
}

img.responsive-thumb {
    width: 500px;
    padding: 5px;
    height: auto;
    max-width: 100%;
}

#selected-thumb {
    border: 3px solid #4baaa5;
}

img.responsive-img {
  width: 500px;
  height: auto;
  max-width: 100%;
}

#detail-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 992px) {

    div.viz-thumbs{
        display: inline-block;
        float: left;
        position: relative;
        width: 25%;
    }

    div.compare-sections{
      display: inline-block;
      float: left;
      position: relative;
      width: 100%;
    }

    div#compare-one {
        border-bottom: 2px solid #f6f6f6;
        padding-bottom: 20px;
    }

    div#compare-two {
        border-bottom: 2px solid #f6f6f6;
        padding: 20px 0;

    }

    div#compare-three {
        border-bottom: 2px solid #f6f6f6;
        padding: 20px 0;
    }

    div#compare-four {
        padding-top: 20px
    }

}


/* -------- */
/* ELEMENTS */
/* -------- */

body {
  background-color: #ededed;
}


h1 {
  color: #4baaa5;
  font-weight: bold;
}

h2 {
  color: #4baaa5;
  font-weight: bold;
}

h5 {
  color: #4baaa5;
  margin: 0;
}

p {
  margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

div .linebreak {
  height: 2px;
  margin: 20px 0 20px 0;
  background-color: #f6f6f6;
}

div .linebreak-small {
  height: 2px;
  margin: 20px 0 20px 0;
  background-color: #f6f6f6;
}


/* ----- */
/* TABLE */
/* ----- */

table {
    border-collapse: collapse;
}

table, th, td {
    border: 0;
}

.table td, .table th {
    border-top: 0;
}
